[mysqld]
basedir=/opt/mysql											
datadir=/opt/mysql/data										
socket=/opt/mysql/mysql.sock							
pid-file=/opt/mysql/data/mysqld.pid							
log-error=/opt/mysql/log/mysql.error					
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0